<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--<configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <containers>
      <container name="ololo">
        <register type="AnalyticHierarchyProcessDSS.WolframEngine.Mathematica.IMinimizationStrategy, AnalyticHierarchyProcessDSS.WolframEngine" name="special" mapTo="AnalyticHierarchyProcessDSS.WolframEngine.Mathematica.X2MinimizationStrategy, AnalyticHierarchyProcessDSS.WolframEngine" />
      </container>
    </containers>

  </unity>-->


    <configSections>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <namespace name="Tailspin.Web.Survey.Shared.Stores" />
      <container>
        <register type="ITenantStore" mapTo="TenantStore" />
      </container>
    </unity>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>